.container{
    width: 50%;
    margin: 0 auto;
}
img {
    width: 100%;
}
i{
    font-size: 50px;
}
.fa-heart{
    color: red;
}
.fa-sun{
    color: rgb(222, 159, 114);
}
p{
    margin: 0 20px;
    font-size: 30px;
    align-items: center;
    color: aliceblue;
    font-weight: 700;
}
.fa-thumbs-down{
    color: brown;
}
.reactions{
    display: flex;
    justify-content: space-between;
}
.reactions div{
    display: flex;
    align-items: center;
}
body{
    background: linear-gradient(to right, #232526, #414345);
}

/* #light{
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}
#dark{
    background: linear-gradient(to right, #232526, #414345);
} */

/* [data-theme = 'dark']{
    background: linear-gradient(to right, #232526, #414345);
}
[data-theme = 'light']{
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
} */