.container{
    width: 20%;
    margin: 0 auto;
}
img {
    width: 100%;
}
i{
    font-size: 50px;
}
.fa-heart{
    color: red;
}
.fa-sun{
    color: rgb(222, 159, 114);
}
p{
    margin: 0 20px;
    font-size: 30px;
    align-items: center;
    color: aliceblue;
    font-weight: 700;
}
.fa-thumbs-down{
    color: brown;
}
.reactions{
    display: flex;
    justify-content: space-between;
}
.reactions div{
    display: flex;
    align-items: center;
}